<%- include("header.ejs") -%>
<body class="text-center">

    <main class="form-signin">
        <form action="/add-books" method="post">
            <img class="mb-4" src="/images/logo.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Add Books Here</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Book ISBN" name="isbn" required>
                <label for="floatingInput">Book ISNB</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Book name" name="name" required>
                <label for="floatingInput">Book Name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Book Author" name="author" required>
                <label for="floatingInput">Book Author</label>
            </div>

            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" placeholder="Quantity" name="quantity" required>
                <label for="floatingInput">Quantity</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Add</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
        </form>
    </main>

</body>

</html>