<%- include("header.ejs") -%>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/logo.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Library Management System</h1>
    <div class="col-lg-6 mx-auto">
        <% if(currentUser != undefined) { %>
            <p class="display-6 text-danger">Hello <%= currentUser %></p>
        <% } %>
        <p class="lead mb-4">Welcome to Library Management System for Graphic Era Hill University, here the admin can
            add books, issue, return books to students.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/login" class="btn btn-outline-secondary btn-lg px-4">Login</a>
        </div>
    </div>
</div>

</body>

</html>